COLLECTOR_OTLP_ENABLED=true
COLLECTOR_OTLP_GRPC_HOST_PORT=0.0.0.0:4317
QUERY_BASE_PATH=/
SPAN_STORAGE_TYPE=badger
BADGER_EPHEMERAL=false
BADGER_DIRECTORY_VALUE={{ jaeger_data_dir }}/data
BADGER_DIRECTORY_KEY={{ jaeger_data_dir }}/key
