OTEL_EXPORTER_OTLP_ENDPOINT={{ otel_exporter_otlp_endpoint }}
OTEL_SERVICE_NAME=user-service
OTEL_RESOURCE_ATTRIBUTES=deployment.environment=production,host.name={{ ansible_hostname }}
OTEL_TRACES_EXPORTER=otlp
OTEL_METRICS_EXPORTER=prometheus
OTEL_LOGS_EXPORTER=otlp
DATABASE_URL=postgresql+asyncpg://user_service:{{ vault_user_service_db_password }}@{{ postgresql_host }}:5432/user_db
JWT_SECRET_KEY={{ jwt_secret }}
PORT=8001
