listen_addresses = '{{ postgresql_listen_address }}'
max_connections = {{ postgresql_max_connections }}
shared_buffers = {{ postgresql_shared_buffers }}
work_mem = {{ postgresql_work_mem }}
maintenance_work_mem = {{ postgresql_maintenance_work_mem }}
effective_cache_size = {{ postgresql_effective_cache_size }}
wal_level = replica
max_wal_size = 2GB
min_wal_size = 256MB
log_destination = 'stderr'
logging_collector = on
log_directory = 'log'
log_filename = 'postgresql-%Y-%m-%d.log'
