OTEL_EXPORTER_OTLP_ENDPOINT={{ otel_exporter_otlp_endpoint }}
OTEL_SERVICE_NAME=course-service
OTEL_RESOURCE_ATTRIBUTES=deployment.environment=production,host.name={{ ansible_hostname }}
OTEL_TRACES_EXPORTER=otlp
OTEL_METRICS_EXPORTER=prometheus
OTEL_LOGS_EXPORTER=otlp
DATABASE_URL=jdbc:postgresql://{{ postgresql_host }}:5432/course_db
DATABASE_USERNAME=course_service
DATABASE_PASSWORD={{ vault_course_service_db_password }}
SERVER_PORT=8002
