OTEL_EXPORTER_OTLP_ENDPOINT={{ otel_exporter_otlp_endpoint }}
OTEL_SERVICE_NAME=notification-service
OTEL_RESOURCE_ATTRIBUTES=deployment.environment=production,host.name={{ ansible_hostname }}
OTEL_TRACES_EXPORTER=otlp
OTEL_METRICS_EXPORTER=prometheus
OTEL_LOGS_EXPORTER=otlp
PORT=8005
REDIS_ADDR={{ redis_host }}:6379
REDIS_PASSWORD={{ redis_password }}
