OTEL_EXPORTER_OTLP_ENDPOINT={{ otel_exporter_otlp_endpoint }}
OTEL_SERVICE_NAME=api-gateway
OTEL_RESOURCE_ATTRIBUTES=deployment.environment=production,host.name={{ ansible_hostname }}
OTEL_TRACES_EXPORTER=otlp
OTEL_METRICS_EXPORTER=prometheus
OTEL_LOGS_EXPORTER=otlp
PORT=8080
REDIS_ADDR={{ redis_host }}:6379
REDIS_PASSWORD={{ redis_password }}
USER_SERVICE_URL=http://{{ user_service_host }}:8001
COURSE_SERVICE_URL=http://{{ course_service_host }}:8002
CONTENT_SERVICE_URL=http://{{ content_service_host }}:8003
QUIZ_SERVICE_URL=http://{{ quiz_service_host }}:8004
NOTIFICATION_SERVICE_URL=http://{{ notification_service_host }}:8005
JWT_HMAC_SECRET={{ jwt_secret }}
